<header class='sticky'>
    <a class="header-title hh" href="/"> Orto </a>
    <nav class="header-nav">
        <script>
            function smoothscroll(e) {
                if (new URL(e.target.href).pathname == window.location.pathname) {
                    e.preventDefault();
                    window.history.pushState(null, null, e.target.href);
                    document.querySelector(window.location.hash).scrollIntoView({ behavior: "smooth" });
                }
            }
        </script>
        <script>
            window.addEventListener('load', () => {
                const el = document.querySelector(".sticky");
                const observer = new IntersectionObserver(
                    ([e]) => e.target.classList.toggle("sticky-pinned", e.intersectionRatio < 1),
                    { threshold: 1 }
                );
                observer.observe(el);
            })
        </script>

        <a class="nav-item" href="/#Home" onclick="smoothscroll(event)">Home</a>
        <a class="nav-item" href="/#Features" onclick="smoothscroll(event)">Features</a>
        <a class="nav-item" href="/#Pricing" onclick="smoothscroll(event)">Pricing</a>
        <a class="nav-item" href="/#Reviews" onclick="smoothscroll(event)">Reviews</a>
        <a class="nav-item" href="/#About" onclick="smoothscroll(event)">About</a>

        <span class="spacer-h" style="--width: 2rem"></span>

        <a class="nav-item" href="/user/signup">Sign-up</a>
        <a class="nav-item primary button" href="/user/signin">Sign-in</a>
    </nav>
</header>
