<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{asset "cold" type="stylesheet" src="/static/font/Poppins/Poppins.css"}}
    {{asset "cold" type="stylesheet" src="/static/font/SourceSansPro/SourceSansPro.css"}}

    {{asset "preload" type="font/woff" as="font" src="/static/font/Poppins/Poppins-Regular.woff"}}
    {{asset "preload" type="font/woff" as="font" src="/static/font/Poppins/Poppins-Bold.woff"}}

    {{asset "preload" type="font/woff" as="font" src="/static/font/SourceSansPro/SourceSansPro-Regular.woff"}}
    {{asset "preload" type="font/woff" as="font" src="/static/font/SourceSansPro/SourceSansPro-Bold.woff"}}


    {{asset "cold" type="stylesheet" src="/static/lib/normalize/normalize.css"}}
    {{asset "cold" type="stylesheet" src="/static/base/grid.css"}}

    {{asset "cold" type="stylesheet" src="/static/base/base.css"}}

    {{asset "cold" type="stylesheet" src="/static/lib/microtip/microtip.min.css"}}

    {{asset "cold" type="script" src="/static/lib/mithril/mithril.min.js"}}

    {{asset "cold" type="script" src="/static/component/tablist/tablist.js"}}
    {{asset "cold" type="stylesheet" src="/static/component/tablist/tablist.css"}}


    {{> head}}
</head>

<body>
    <div class="container">
        {{> base/header}}

        <main>
            {{> body}}
        </main>

        {{> base/footer}}
    </div>
</body>

</html>
