[role="tablist"] .tabs-head {
    display: flex;
    border-bottom: 1px solid var(--background-darker);
}

[role="tablist"] [role="tab"] {
    border: 1px solid var(--background-darker);
    border-bottom-color: transparent;
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
    background: var(--background-darker);
    box-shadow: none;
    --color-background-focus: var(--white);
}

[role="tablist"] [role="tab"]:focus {
    border-color: var(--primary);
    border-bottom-color: transparent;
}

[role="tablist"] [role="tab"][aria-selected] {
    background: var(--background);
}

[role="tablist"] [role="tabpanel"] {
    background: var(--background-light);
    padding: 16px;
    border-radius: 0 0 4px 4px;
    border: 1px solid var(--background-darker);
    border-top: none;
}
