<!DOCTYPE html>
<html lang="dk">
    <head>
        <title>Orto</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="/static/css/normalize/normalize.css" />
        <link rel="stylesheet" href="/static/css/microtip/microtip.min.css" />

        <link rel="stylesheet" href="/static/css/modal.css" />
        <script src="/static/js/modal.js"></script>

        <script src="/static/js/mithril/mithril.min.js"></script>
        <link rel="stylesheet" href="/static/css/editor.css?v=beta.0" />
        <script src="/static/js/editor.js?v=beta.0"></script>

        <script>
            function submit_feedback(e) {
                e.preventDefault();

                const form = document.forms["feedback-form"];
                const data = [
                    `comma_quality=${encodeURIComponent(form.comma_quality.value)}`,
                    `wait_time=${encodeURIComponent(form.wait_time.value)}`,
                    `problems=${encodeURIComponent(form.problems.value)}`,
                    `thoughts=${encodeURIComponent(form.thoughts.value)}`,
                ].join("&");

                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/feedback");
                xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                xhr.send(data);

                modal("modal-feedback");
                modal("modal-result");
            }
        </script>
    </head>
    <body>
        <div class="page">
            <header>
                <a class="header-title hh" href="/"> Orto </a>
                <!-- <nav>
                    <button class="primary" onclick="modal('modal-feedback')">Feedback</button>

                    <div id="modal-feedback" class="modal">
                        <a class="modal-close" onclick="modal('modal-feedback')"></a>
                        <div class="modal-content">
                            <a class="modal-x" onclick="modal('modal-feedback')">
                                <svg class="icon">
                                    <use href="/static/icons/teenyicons/outline.svg#outline--x"></use>
                                </svg>
                            </a>
                            <form id="feedback-form" onsubmit="submit_feedback(event)">
                                <h1>Feedback</h1>

                                <div class="feedback-note">Tusind tak, fordi du hjælper med at forbedre Orto!</div>

                                <label for="comma_quality">Hvordan vurderer du dine kommaforslag i dag?</label>
                                <select id="comma_quality" name="comma_quality">
                                    <option value="B">Dårlige</option>
                                    <option value="O">Okay</option>
                                    <option value="G">Rigtig god</option>
                                </select>

                                <label for="wait_time">Hvordan er ventetiden, når du beder om rettelser?</label>
                                <select id="wait_time" name="wait_time">
                                    <option value="T">Alt for lang</option>
                                    <option value="L">Lidt lang</option>
                                    <option value="O">Okay</option>
                                    <option value="G">Ret god</option>
                                    <option value="R">Rigtig godt</option>
                                </select>

                                <label for="problems">Hvilke problemer er du stødt på?</label>
                                <textarea id="problems" name="problems"></textarea>

                                <label for="thoughts"> Du er meget velkommen til at skrive dine overvejelser: </label>
                                <textarea id="thoughts" name="thoughts"></textarea>

                                <button class="submit" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div id="modal-result" class="modal">
                        <a class="modal-close" onclick="modal('modal-result')"></a>
                        <div class="modal-content panel">
                            <a class="modal-x" onclick="modal('modal-result')">
                                <svg class="icon">
                                    <use href="/static/icons/teenyicons/outline.svg#outline--x" />
                                </svg>
                            </a>
                            <div class="feedback-result">
                                <h1>Tak for din feedback! Vi kigger på den det vons.</h1>
                                <h2>Send endelig feedback, så ofte du vil.</h2>
                                <img
                                    alt="thank you!"
                                    loading="lazy"
                                    src="https://media1.tenor.com/images/c1573b4b45dc7dd0faf89eb5064f53f9/tenor.gif?itemid=17045602"
                                />
                            </div>
                        </div>
                    </div>
                </nav> -->
            </header>
            <div id="orto">
                <script>
                    m.mount(document.querySelector("#orto"), Orto);
                </script>
                <noscript>
                    <h2>Orto only works with JavaScript enabled, due to dynamic behaviour used in the editor.</h2>
                </noscript>
            </div>
            <footer>© 2021, ai-company. All rights reserved.</footer>
        </div>
    </body>
</html>
