<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>Orto</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="/static/js/particles/particles.min.js"></script>
        <script defer="true">
            particlesJS.load("particles", "/static/js/particles/config.json");

            function onboarding(e) {
                e.preventDefault();
                const email = document.forms["onboarding-form"].email.value;
                const submit = document.getElementById("onboarding-submit");

                submit.classList.add("loading");

                const xhr = new XMLHttpRequest();
                let error = document.getElementById("error");
                if (error) {
                    error.remove();
                }

                xhr.onreadystatechange = function () {
                    let form = document.getElementById("onboarding-form");

                    if (this.readyState == 4 && this.status == 200) {
                        submit.classList.remove("loading");
                        let msg = document.createElement("div");
                        msg.classList.add("success");
                        msg.innerText = "Vi har sendt dig en email med et invitationslink!";

                        form.classList.add("fade");
                        setTimeout(() => form.replaceWith(msg), 500);
                    } else if (this.readyState == 4) {
                        submit.classList.remove("loading");
                        let msg = document.createElement("div");
                        msg.classList.add("error");
                        msg.innerText = "Der gik noget galt, da vi skulle sende din invitation. Prøv igen.";

                        document.getElementById("onboarding-form").appendChild(msg);
                        setTimeout(() => {
                            msg.classList.add("fade");
                            setTimeout(() => msg.remove(), 500);
                        }, 3000);
                    }
                };

                xhr.open("POST", "/");
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("email=" + encodeURIComponent(email));
            }
        </script>

        <link rel="stylesheet" href="/static/css/normalize/normalize.css" />
        <link rel="stylesheet" href="/static/css/landing.css?v=0.10.0-beta" />
    </head>
    <body>
        <div id="particles"></div>
        <div class="page">
            <main>
                <div id="onboarding">
                    <div class="welcome">
                        <h1 class="title">Orto</h1>
                        <p>
                            <strong
                                >Velkommen til Orto, et nyt, AI-baseret værktøj til kommatering og grammatik!</strong
                            >
                        </p>
                        <p>
                            Hvis du er blevet inviteret til den lukkede alfa, kan du indtaste din e-mail nedenfor. Så
                            får du en mail med et adgangslink til værktøjet.
                        </p>
                    </div>
                    <form id="onboarding-form" onsubmit="onboarding(event)">
                        <input id="email" name="email" type="email" placeholder="john.doe@example.com" />
                        <button id="onboarding-submit" class="primary" type="submit">
                            <span class="load-label">Send email</span>
                            <span class="spinner"></span>
                        </button>
                    </form>
                </div>
                <div id="preview">
                    <figure>
                        <img alt="Orto preview for desktop" class="preview-desktop" src="/static/img/preview.png" />
                        <img
                            alt="Orto preview for mobile"
                            class="preview-mobile"
                            src="/static/img/preview-mobile.png"
                        />
                        <figcaption>Orto preview</figcaption>
                    </figure>
                </div>
            </main>
            <footer>© 2021, ai-company. All rights reserved.</footer>
        </div>
    </body>
</html>
