<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>Orto</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="/static/js/particles/particles.min.js"></script>
        <script defer="true">
            particlesJS.load("particles", "/static/js/particles/config.json");
        </script>

        <link rel="stylesheet" href="/static/css/normalize/normalize.css" />
        <link rel="stylesheet" href="/static/css/landing.css?v=0.10.0-beta" />
    </head>
    <body>
        <div id="particles"></div>
        <div class="page">
            <main>
                <div id="onboarding">
                    <div class="welcome">
                        <h1 class="title">Orto</h1>
                        <p>
                            <strong
                                >Velkommen til Orto, et nyt, AI-baseret værktøj til kommatering og grammatik!</strong
                            >
                        </p>
                        <p>Du har adgang til Ortos lukkede alfa og kan frit bruge værktøjet!</p>
                    </div>
                    <div id="onboarding-form">
                        <a class="button primary" href="/editor">
                            Åben Orto
                            <svg
                                class="icon"
                                viewBox="0 0 15 15"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                width="21"
                                height="21"
                            >
                                <path d="M13.5 7.5l-4-4m4 4l-4 4m4-4H1" stroke="currentColor"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div id="preview">
                    <figure>
                        <img alt="Orto preview for desktop" class="preview-desktop" src="/static/img/preview.png" />
                        <img
                            alt="Orto preview for mobile"
                            class="preview-mobile"
                            src="/static/img/preview-mobile.png"
                        />
                        <figcaption>Orto preview</figcaption>
                    </figure>
                </div>
            </main>
            <footer>© 2021, ai-company. All rights reserved.</footer>
        </div>
    </body>
</html>
