<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>Orto</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="/lib/particles/particles.min.js"></script>
        <script defer="true">
            particlesJS.load("particles", "/lib/particles/config.json");
        </script>

        <link rel="stylesheet" href="/static/css/landing-style.css" />
        <link rel="stylesheet" href="/static/font/Roboto/Roboto.css" />
    </head>
    <body>
        <div id="particles"></div>
        <main>
            <div id="onboarding">
                <div class="welcome">
                    <div class="title">
                        <h2>Orto</h2>
                    </div>
                    <p>
                        <strong>Velkommen til Orto, et nyt, AI-baseret værktøj til kommatering og grammatik!</strong>
                    </p>
                    <p>Du har adgang til Ortos lukkede alfa og kan frit bruge værktøjet!</p>
                </div>
                <div class="form">
                    <a class="submit" href="/editor">
                        Åben Orto
                        <svg
                            class="icon"
                            viewBox="0 0 15 15"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            width="21"
                            height="21"
                        >
                            <path d="M13.5 7.5l-4-4m4 4l-4 4m4-4H1" stroke="currentColor"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div id="preview">
                <figure>
                    <img class="preview-desktop" src="/static/img/preview.png" />
                    <img class="preview-mobile" src="/static/img/preview-mobile.png" />
                    <figcaption>Orto preview</figcaption>
                </figure>
            </div>
        </main>
        <footer>© 2021, ai-company. All rights reserved.</footer>
    </body>
</html>
