{{#> email/base}}
    {{#*inline "title"}}
        <a href="{{get_url "/"}}">Orto</a> abonnement aktiveret
    {{/inline}}

    {{#*inline "body"}}
        <p>
            Du har oprettet abonnement på <b>{{tier}}</b>-pakken.
        </p>
        <p>
            Der vil blive opkrævet <b>{{price}}DKK</b> en gang om måneden, belalt på forhånd.
        </p>
        <p>
            Du kan opsige dit abonnement når som helst på <a href="{{get_url "/user/account"}}">konto-siden</a>.
        </p>
    {{/inline}}
{{/email/base}}
