{{#> page/base}}
    {{#*inline "head"}}
        <title>Orto - Account</title>

        {{link "hot" type="stylesheet" src="/static/page/user/signup.css"}}
        {{link "hot" type="script" src="/static/base/util.js"}}
    {{/inline}}

    {{#*inline "body"}}
        <h1 class='mb-0 align-center'>Account</h1>

        <noscript>
            <h3 class='align-center error'>Javascript is required for the page to properly display and function</h3>
        </noscript>

        <div class='row'>
            <div class='col'></div>

            <div class='col-12 col-md-9 col-lg-7'>
                <hr class='separator'>

                <h4>Account details</h4>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 ' for="email">E-mail</label>
                    <div>{{User.user.email}}</div>
                </div>

                <hr class='separator'>
                <h4>Tier</h4>

                <div class='row justify-center'>
                    <style>
                        .account-tier {
                            border: 1px solid var(--black-transparent-dark);
                            background: var(--background-lighter);
                            display: block;
                            border-radius: 4px;
                            padding: 8px;
                            height: 100%;
                        }

                    </style>
                    <div class='col account-tier'>
                        {{#if (eq User.user.tier "student")}}
                            <label class='row'>
                                <div class='col-4 align-center'>
                                    <h3 class="tier-title mb-0">Studerende</h3>
                                    <h4 class="tier-price mt-0 mb-0">29kr pr. måned</h4>
                                </div>
                                <div class='col'>
                                    <ul class="tier-details">
                                        <li>Spelling fixing</li>
                                        <li>Grammar fixing</li>
                                    </ul>
                                </div>
                            </label>
                        {{/if}}

                        {{#if (eq User.user.tier "private")}}
                            <label class="row">
                                <div class="col-4 align-center">
                                    <h3 class="tier-title mb-0">Privat</h3>
                                    <h4 class="tier-price mt-0 mb-0">39kr pr. måned</h4>
                                </div>
                                <div class="col">
                                    <ul class="tier-details">
                                        <li>Spelling fixing</li>
                                        <li>Grammar fixing</li>
                                    </ul>
                                </div>
                            </label>
                        {{/if}}

                        {{#if (eq User.user.tier "business")}}
                            <label class='row'>
                                <div class="col-4 align-center">
                                    <h3 class="tier-title mb-0">Virksomhed</h3>
                                    <h4 class="tier-price mt-0 mb-0">10kr pr. 800 ord</h4>
                                </div>
                                <div class="col">
                                    <ul class="tier-details">
                                        <li>Spelling fixing</li>
                                        <li>Grammar fixing</li>
                                        <li>API access</li>
                                        <li>Documentation</li>
                                        <li>Business Support</li>
                                    </ul>
                                </div>
                            </label>
                        {{/if}}
                    </div>
                </div>

                <div class='row {{#if (not validation.tier)}}d-none{{/if}}'>
                    <div class='col error'>
                        {{#each validation.tier}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <hr class='separator'>
                <h4>Billing details</h4>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 ' for="fullname">Full name</label>
                    <div>{{User.billing.fullname}}</div>
                </div>

                {{#if User.billing.cvr}}
                    <div class='input-group row'>
                        <label class='col-3 col-sm-2 ' for="cvr">CVR</label>
                        <label class='input-addon addon-left'>DK</label>
                        <div>{{User.billing.cvr}}</div>
                    </div>
                {{/if}}

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 ' for="address">Address</label>
                    <div>{{User.billing.address}}</div>
                </div>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 ' for="city">City</label>
                    <div>{{User.billing.city}}</div>
                </div>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 ' for="zip">Zip code</label>
                    <div>{{User.billing.zip}}</div>
                </div>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 ' for="country">Country</label>
                    <div>{{User.billing.country}}</div>
                </div>

                <hr class='separator'>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2'><strong>Sign out</strong></label>
                    <label class='col'>End your session</label>
                    <a class='button col-2' href='/user/signout'>Sign-out</a>
                </div>

                <hr class='separator'>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2'><strong>Delete account</strong></label>
                    <label class='col'>Cancel subscription and permanently remove account</label>
                    <button class='red col-2' onclick="modal('account-delete')">Delete</button>

                    <div id="account-delete" class="modal">
                        <a class="modal-close" onclick="modal('account-delete')"></a>

                        <div class="modal-content panel">
                            <a class="modal-x" onclick="modal('account-delete')">
                                <svg class="icon">
                                    <use href="/static/icons/teenyicons/outline.svg#outline--x"></use>
                                </svg>
                            </a>

                            <div class='align-center'>
                                <svg class='icon icon-lg' style='color: var(--red)'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg>
                            </div>

                            <h2 style='color: var(--red)'>Are you sure you want to delete your account?</h2>

                            <h4>Deleting your account will perform the following actions:</h4>
                            <ol>
                                <li>Clear your Orto service discounts (if any)</li>
                                <li>Cancel your Orto subscription</li>
                                <li>Delete your Orto account information</li>
                            </ol>

                            <hr class='separator'>

                            <div class='row'>
                                <div class='col-sm col-12 mb-1 mb-sm-0'>
                                    <button style='width:100%' onclick="modal('account-delete')">Go back</button>
                                </div>
                                <div class='col-sm-3 col-12'>
                                    <a class='button red' style='width:100%' href='/user/delete'>Delete account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col'></div>
        </div>
    {{/inline}}
{{/page/base}}
