{{#> page/base}}
    {{#*inline "head"}}
        <title>Orto - Opret bruger</title>

        {{link "hot" type="stylesheet" src="/static/page/user/signup.css"}}
        {{link "hot" type="script" src="/static/base/util.js"}}
    {{/inline}}

    {{#*inline "body"}}
        <h1 class='mb-0 align-center'>Opret bruger</h1>

        <noscript>
            <h3 class='align-center error'>JavaScript er nødvændigt for, at Orto kan fungere ordentligt.</h3>
        </noscript>
        <form class='row' method="POST" enctype="multipart/form-data">
            <div class='col'></div>
            <div class='col-12 col-md-9 col-lg-7'>
                <div class='row'>
                    <h4 class='col error'>
                        <svg class='icon icon-auto'>
                            <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                        </svg>
                        På nuværende tidspunkt kræver det en invitation til Ortos beta-test, at oprette en bruger!
                    </h4>
                </div>

                <hr class='separator'>
                <h4>Bruger-oplysninger</h4>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 align-right' for="email">Email</label>
                    <input class='col' id="email" name="email" type="email" placeholder="email@example.com" value="{{old.email}}">
                </div>

                <div class='row {{#if (not validation.email)}}d-none{{/if}}'>
                    <div class='col-3 col-sm-2'></div>
                    <div class='col error'>
                        {{#each validation.email}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 align-right' for="password">Password</label>
                    <input class='col' id="password" name="password" type="password">
                    <button type="button" class='input-addon addon-right' aria-label="Vis password" data-microtip-position="left" role="tooltip" onclick="togglepassword(this, 'password')">
                        <svg class="icon">
                            <use href='/static/icons/teenyicons/outline.svg#outline--eye'></use>
                        </svg>
                    </button>
                </div>
                <div class='row {{#if (not validation.password)}}d-none{{/if}}'>
                    <div class='col-3 col-sm-2'></div>
                    <div class='col error'>
                        {{#each validation.password}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class='row'>
                    <div class='col-3 col-sm-2'></div>
                    <div class='col info'>
                        <svg class='icon'>
                            <use href="/static/icons/teenyicons/outline.svg#outline--info-circle"></use>
                        </svg>
                        Dit password skal fylde mindst 8 tegn.
                    </div>
                </div>

                <hr class='separator'>
                <h4>I am a</h4>

                <div class='row justify-center'>
                    <!-- <div class='col-10 col-sm tier'>
                        <input id="tier-student" name="tier" type="radio" value="student"
                            {{#if (or (eq old.tier "student") (eq tier.tier "student"))}}checked{{/if}}>
                        <label for="tier-student">
                            <h3 class='tier-title align-center mb-0'>Studerende</h3>
                            <div class='warning mt-1'>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg>
                                Requires your student ID
                            </div>
                            <ul class="tier-details">
                                <li>Spelling fixing</li>
                                <li>Grammar fixing</li>
                            </ul>
                            <h2 class="tier-price align-center mt-auto mb-0">
                                29kr
                            </h2>
                            <strong class='align-center pb-1'>
                                pr. måned
                            </strong>
                        </label>
                    </div> -->
                    <div class='col-10 col-sm tier'>
                        <input id="tier-private" name="tier" type="radio" value="private" {{#if (or (eq old.tier "private") (eq tier.tier "private"))}}checked{{/if}}>
                        <label for="tier-private">
                            <h3 class='tier-title align-center'>Privat</h3>
                            <!-- <ul class="tier-details">
                                <li>Spelling fixing</li>
                                <li>Grammar fixing</li>
                            </ul>

                            <h2 class="tier-price align-center mt-auto mb-0">
                                39kr
                            </h2>
                            <strong class='align-center pb-1'>
                                pr. måned
                            </strong> -->
                        </label>
                    </div>
                    <div class='col-10 col-sm tier'>
                        <input id="tier-business" name="tier" type="radio" value="business" {{#if (or (eq old.tier "business") (eq tier.tier "business"))}}checked{{/if}}>
                        <label for="tier-business">
                            <h3 class='tier-title align-center'>Virksomhed</h3>
                            <!-- <ul class="tier-details">
                                <li>Spelling fixing</li>
                                <li>Grammar fixing</li>
                                <li>API access</li>
                                <li>Documentation</li>
                                <li>Business Support</li>
                            </ul>
                            <h2 class="tier-price align-center mt-auto mb-0">
                                10kr
                            </h2>
                            <strong class='align-center pb-1'>
                                pr. 800 ord
                            </strong> -->
                        </label>
                    </div>
                </div>

                <div class='row {{#if (not validation.tier)}}d-none{{/if}}'>
                    <div class='col error'>
                        {{#each validation.tier}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <hr class='separator'>
                <h4>Faktureringsoplysninger</h4>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 align-right' for="fullname">Fulde navn</label>
                    <input class='col' id="fullname" name="fullname" type="text" placeholder="John Doe" value="{{old.fullname}}">
                </div>

                <div class='row {{#if (not validation.fullname)}}d-none{{/if}}'>
                    <div class='col-3 col-sm-2'></div>
                    <div class='col error'>
                        {{#each validation.fullname}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class='input-group row d-none'>
                    <label class='col-3 col-sm-2 align-right' for="cvr">CVR</label>
                    <label class='input-addon addon-left'>DK</label>
                    <input class='col' id="cvr" name="cvr" type="text" pattern="^[0-9]{8}$" placeholder="12345678" value="{{old.cvr}}" onblur="cvrapi(event, 'error-cvr').bind(this)">
                </div>

                <div class='row {{#if (not validation.cvr)}}d-none{{/if}}'>
                    <div class='col-3 col-sm-2'></div>
                    <div id='error-cvr' class='col error'>
                        {{#each validation.cvr}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 align-right' for="address">Adresse</label>
                    <input class='col' id="address" name="address" type="text" placeholder="Example street, 1" value="{{old.address}}">
                </div>

                <div class='row {{#if (not validation.address)}}d-none{{/if}}'>
                    <div class='col-3 col-sm-2'></div>
                    <div class='col error'>
                        {{#each validation.address}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 align-right' for="city">By/provins</label>
                    <input class='col' id="city" name="city" type="text" placeholder="Copenhagen" value="{{old.city}}">
                </div>

                <div class='row {{#if (not validation.city)}}d-none{{/if}}'>
                    <div class='col-3 col-sm-2'></div>
                    <div class='col error'>
                        {{#each validation.city}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 align-right' for="zip">Postnummer</label>
                    <input class='col' id="zip" name="zip" type="text" placeholder="DK-1000" value="{{old.zip}}">
                </div>

                <div class='row {{#if (not validation.zip)}}d-none{{/if}}'>
                    <div class='col-3 col-sm-2'></div>
                    <div class='col error'>
                        {{#each validation.zip}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class='input-group row'>
                    <label class='col-3 col-sm-2 align-right' for="country">Land</label>
                    <input class='col' id="country" name="country" type="text" placeholder="Denmark" value="{{old.country}}">
                </div>

                <div class='row {{#if (not validation.country)}}d-none{{/if}}'>
                    <div class='col-3 col-sm-2'></div>
                    <div class='col error'>
                        {{#each validation.country}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <hr class='separator'>

                <div class='input-group row'>
                    <div class='col-sm-2'></div>
                    <input class='mr-1' id="terms" name="terms" type="checkbox" value="true" {{#if old.terms}}checked{{/if}}>
                    <label class='col-10 col-sm-8' for="terms">
                        Jeg accepterer hermed
                        <a href='/legal/privacy/dk' target="_blank">Privatlivspolitik</a>
                        <!-- og
                        <a href='/legal/terms-of-service' target="_blank">Vilkår og Betingelser</a> -->
                    </label>
                </div>

                <div class='row {{#if (not validation.terms)}}d-none{{/if}}'>
                    <div class='col-3 col-sm-2'></div>
                    <div class='col error'>
                        {{#each validation.terms}}
                            <div>
                                <svg class='icon'>
                                    <use href="/static/icons/teenyicons/outline.svg#outline--exclamation-circle"></use>
                                </svg> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class='pt-3 align-center'>
                    <button type='submit'>Opret bruger</button>
                </div>

            </div>
            <div class="col"></div>
        </form>

        <script>
            const name = document.querySelector('label[for=fullname]');
            const cvr = document.querySelector('#cvr');
            const studentid = document.querySelector('#studentid');
            const studentinfo = document.querySelector('#studentid-info');

            const fieldHandlers = {
                business: function () {
                    name.innerHTML = "Company name";
                    if (cvr) cvr.parentElement.classList.remove('d-none');
                    if (studentid) studentid.parentElement.classList.add('d-none');
                    if (studentinfo) studentinfo.classList.add('d-none');
                },
                private: function () {
                    name.innerHTML = "Full name";
                    if (cvr) cvr.parentElement.classList.add('d-none');
                    if (studentid) studentid.parentElement.classList.add('d-none');
                    if (studentinfo) studentinfo.classList.add('d-none');
                },
                student: function () {
                    name.innerHTML = "Full name";
                    if (cvr) cvr.parentElement.classList.add('d-none');
                    if (studentid) studentid.parentElement.classList.remove('d-none');
                    if (studentinfo) studentinfo.classList.remove('d-none');
                }
            }

            fieldHandlers.private();

            for (let field of document.querySelectorAll('[name=tier]')) {
                if (field.value == 'business' && field.checked) {
                    fieldHandlers.business();
                } else if (field.value == 'student' && field.checked) {
                    fieldHandlers.student();
                }

                field.onclick = fieldHandlers[field.value];
            }
        </script>

    {{/inline}}
{{/page/base}}
