{{#> page/base}}
    {{#*inline "head"}}
        <title>Orto - Sign-in</title>

        {{link "hot" type="script" src="/static/base/util.js"}}
    {{/inline}}

    {{#*inline "body"}}
        <h1 class='align-center'>Sign in</h1>

        <hr class='separator'>

        <form method="POST">
            <div class='row'>
                <div class='col-12 col-md-2 align-md-right'>
                </div>
                <div class='col-11 col-md-8 col-lg-7'>
                    <div class='row'>
                        <div class='input-group col'>
                            <label class='col-3 align-right' for="email">E-mail</label>
                            <input class='col' id="email" name="email" type="email" placeholder="email@example.com"
                                required>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-group col'>
                            <label class='col-3 align-right' for="password">Password</label>
                            <input class='col' id="password" name="password" type="password" required>
                            <button type="button" class='input-addon' aria-label="Show password"
                                data-microtip-position="left" role="tooltip" onclick="togglepassword(this, 'password')">
                                <svg class="icon">
                                    <use href='/static/icons/teenyicons/outline.svg#outline--eye'></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class='row pt-3'>
                <div class='col-12 col-md-3 align-md-right'>
                </div>
                <div class='col-12 col-md-6 align-center'>
                    <button type='submit'>Sign-in</button>
                </div>
            </div>

        </form>
    {{/inline}}
{{/page/base}}
