{{#> email/base}}
    {{#*inline "title"}}
        Velkommen til <a href="https://orto.ai/">Orto</a>!
    {{/inline}}

    {{#*inline "body"}}
        <p>
            Venligst klik på nedenstående knap, for at bekræfte din email og fortsætte til betaling.<br>
            Hvis det ikke er dig, der har anmodet om bekræftelsen, kan du blot ignorere denne email.
        </p>

        <div>
            <a class="button" href="{{url}}?token={{token}}">Fortsæt til betaling og bekræft din email</a>
        </div>
    {{/inline}}
{{/email/base}}
