{{#> email/base}}
    {{#*inline "title"}}
        Genoprettelse af password til <a href="https://orto.ai/">Orto</a>
    {{/inline}}

    {{#*inline "body"}}
        <p>
            Venligst klik nedenstående knap for at bekræfte genoprettelsen og fortsætte indstillingen af dit nye password.<br>
            Hvis det ikke var dig, der anmodede om genoprettelsen, kan du blot ignorere denne email.
        </p>

        <div>
            <a class="button" href="{{url}}?token={{token}}">Indstil nyt password</a>
        </div>
    {{/inline}}
{{/email/base}}
