{{#> email/base}}
    {{#*inline "title"}}
        <a href="https://orto.ai/">Orto</a> password reset
    {{/inline}}

    {{#*inline "body"}}
        <p>
            Please click the button below to confirm your password reset and continue with setting a new password!<br>
            If it was not you who requested the reset, you can ignore this email.
        </p>

        <div>
            <a class="button" href="{{url}}?token={{token}}">Reset password</a>
        </div>
    {{/inline}}
{{/email/base}}
