*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    /* display: grid; */
    /* grid-template-areas:
        "hl header hr"
        "ml main mr"
        "fl footer fr"; */
    /* grid-template-rows: 80px 1fr min-content; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    /* align-content: center; */
    background-color: #f5f8f9;
}

.page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

@media (max-width: 575px) {
    .page {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .page {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .page {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .page {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .page {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .page {
        max-width: 1320px;
    }
}

#orto {
    /* grid-area: main; */
    display: flex;
    margin: 0 8px;
    /* overflow: auto; */
    min-height: 0;
    flex: 1;
}

header {
    /* grid-area: header; */
    /* display: grid; */
    /* grid-template-areas: "logo navigation"; */
    /* grid-template-columns: max-content 1fr; */
    display: flex;
    align-items: center;
    justify-items: end;
    padding: 8px;
}

header .logo {
    max-width: 40px;
    max-height: 40px;
}

header .title {
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    text-decoration: none;
    color: #448aff;
}

footer {
    /* grid-area: footer; */
    color: #0007;
    font-size: small;
    padding: 8px;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        grid-template-rows: min-content 1fr;
    }
    header {
        padding: 8px 16px;
    }
}

nav {
    margin-left: auto;
}

nav a {
    color: #448aff;
    text-decoration: none;
    padding: 4px 8px;
    font-weight: 500;
}

.edit-summary {
    display: inline-flex;
}

#editor {
    margin-bottom: 0;
    border-radius: 4px;
    min-width: 0;
    width: 80ch;
}

#editor #editor-textarea {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    margin: 0;
    line-height: 1.6;
    padding: 32px;
    border: 2px solid transparent;
    transition: border-color ease-in 0.1s;
    resize: none;
    white-space: pre-wrap;
    overflow: auto;
    background: #fff;
}

#editor textarea#editor-textarea {
    background: #fff;
}

#editor div#editor-textarea {
    background: #00000006;
    border-color: #0002;
    border-style: dashed;
}

.dim {
    color: #0009;
}

#editor #editor-textarea:hover {
    border-color: #0003;
}

#editor #editor-textarea:focus {
    border-color: #448aff;
    outline: none;
}

#corrections {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin-left: 32px;
    width: 360px;
    border-radius: 4px;
    /* height: 92%; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* background: white; */
    max-height: 1000px;
}

#step {
    display: flex;
    flex-direction: column;
    /* max-width: 380px; */
    /* margin-left: 42px; */
    /* width: 360px; */
    border-radius: 4px;
    /* background: white; */
    min-height: 0;
    flex: 1;
    border-top: 2px solid #0001;
    border-bottom: 2px solid #0001;
    background: #00000006;
}

#corrections .corrections-header {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 350;
    padding: 8px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px dashed #0003; */
}

#corrections .step-next {
    padding-top: 16px;
}

:root {
    --color-white: #fff;
    --color-black: #333;
    --color-gray: #75787b;
    --color-gray-light: #bbb;
    --color-gray-disabled: #e8e8e8;
    --color-green: #09f;
    --color-green-dark: rgb(0, 118, 197);
    --font-size-small: 0.75rem;
    --font-size-default: 0.875rem;
}

.progress {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.progress li {
    flex: 2;
    position: relative;
    border-bottom: 2px solid var(--color-gray-disabled);
}

.progress li:first-child,
.progress li:last-child {
    flex: 1;
}

.progress li:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-gray-disabled);
    border: 2px solid var(--color-white);
    position: absolute;
    left: calc(50% - 6px);
    bottom: -6px;
    z-index: 3;
    transition: all 0.2s ease-in-out;
}

.progress li:first-child:before {
    left: 0;
}

.progress li:last-child:before {
    right: 0;
    left: auto;
}

.progress .progress-complete:not(:first-child):after,
.progress .progress-active:not(:first-child):after {
    content: "";
    width: 100%;
    position: absolute;
    left: -50%;
    z-index: 2;
    border-bottom: 2px solid var(--color-green);
}

.progress .progress-complete:last-child:after,
.progress .progress-active:last-child:after {
    width: 200%;
    left: -100%;
}

.progress .progress-complete:before {
    background-color: var(--color-green);
}

.progress .progress-active:before {
    background-color: var(--color-white);
    border-color: var(--color-green);
}

.step-progress {
    width: 70%;
    padding: 12px 0;
    align-self: center;
}

#corrections-title {
    margin: auto;
    margin-left: 0;
}

#corrections-massactions {
    padding: 8px;
    border-top: 1px solid #0001;
    border-radius: 4px;
    /* box-shadow: 0 -8px 16px -16px #000a; */

    /* border-top: 1px solid #0002; */
    /* justify-content: center; */
}

#corrections .header-actions {
    /* margin-left: auto; */
    display: flex;
    width: 100%;
    justify-content: center;
    /* border-bottom: 1px dashed #0003; */
    /* padding-bottom: 16px; */
}

#corrections .accept-all {
    /* border-radius: 4px; */
    width: 100%;
    /* background-color: #28b361; */
    /* color: white; */
    height: 32px;
    border-right: 1px solid #0002;
    border-radius: 4px 0 0 4px;
}

#corrections .ignore-all {
    /* margin-left: 8px; */
    /* border-radius: 4px; */
    width: 100%;
    /* background-color: #e53935; */
    /* color: white; */
    border-radius: 0 4px 4px 0;
}

#corrections #correction-list {
    overflow: auto;
    /* margin: 16px 0; */
    padding: 8px;
    /* border-bottom: 1px dashed #0003; */
    /* border-top: 1px dashed #0003; */
    scrollbar-width: thin;
    flex: 1;
}

.note-header {
    padding: 12px;
    color: #0007;
    font-weight: bold;
    padding-bottom: 0;
}

.note {
    padding: 8px 12px;
    color: #0007;
}

#corrections ins,
#editor ins {
    /* background: #ccff90; */
    padding: 2px 7px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color ease-in 0.03s;
}

#corrections del,
#editor del {
    /* background: #ff9e80; */
    padding: 2px 7px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color ease-in 0.03s;
}

#editor ins {
    background: #00c85320;
}

#editor del {
    background: #e5393520;
}

#corrections ins {
    background: #00c85320;
}

#corrections del {
    background: #e5393520;
}

#editor .change:hover ins,
#editor .change.active ins,
#corrections .card:hover ins,
#corrections .card.active ins {
    background: #00c853a0;
}

#editor .change:hover del,
#editor .change.active del,
#corrections .card:hover del,
#corrections .card.active del {
    background: #e53935a0;
}

.card {
    word-break: break-all;
    padding: 4px;
    background-color: #fff;
    font-size: 0.9rem;
    display: flex;
    margin-bottom: 12px;
    border-radius: 4px;
    flex-direction: column;
    /* box-shadow: none; */
    transition: border-color ease-in 0.1s;
    border: 2px solid transparent;
}

.card:hover,
.card.active {
    /* box-shadow: 0 2px 4px #0002; */
    border-color: #448aff;
}

.rep {
    padding: 2px 7px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color ease-in 0.03s;
    background: #ffab0020;
}
.change {
    cursor: pointer;
}

#editor .change:hover .rep,
#editor .change.active .rep,
.card:hover .rep,
.card.active .rep {
    background: #ffab0090;
}

.card .rep .icon {
    font-size: 1.1em;
}

.card .actions {
    display: flex;
    margin-left: auto;
    margin-bottom: auto;
    white-space: nowrap;
    border-top: 1px solid #0001;
    width: 100%;
    padding-top: 5px;
}

.explanation {
    font-size: small;
    color: grey;
    margin: 0;
    padding-left: 22px;
    padding-bottom: 8px;
}

.error {
    color: #e53935;
    font-size: small;
    font-weight: normal;
    white-space: pre;
    padding: 4px 8px;
    background: #e5393518;
    border-radius: 4px;
    margin-bottom: 4px;
}

button.accept,
button.ignore,
button.report {
    border: none;
    background-color: transparent;
    /* background-repeat: no-repeat; */
    /* background-size: 20px; */
    /* background-position-x: 12px; */
    /* background-position-y: center; */
    padding: 6px 8px;
    border-radius: 4px;
    /* padding-left: 35px; */
    /* border-bottom: 1px solid #5542; */
    /* box-shadow: none; */
    /* transition: box-shadow ease-in 0.05s; */
}

button.accept {
    /* background-image: url(/static/img/material-icons/accept.svg); */
    margin-right: auto;
    /* background-color: #ccff90; */
    color: #388e3c;
}

button.accept:hover {
    color: #388e3c;
    background-color: #00c85320;
    cursor: pointer;
    /* box-shadow: 0 2px 4px #0002; */
}

button.accept:active {
    color: #1b5e20;
    background-color: #1b5e2020;
    box-shadow: none;
}

button.report {
    /* background-image: url(/static/img/material-icons/report.svg); */
    /* margin-right: 6px; */
    /* background-color: #ccff90; */
    color: #ffa000;
}

button.report:hover {
    color: #ffa000;
    background-color: #ffab0020;
    cursor: pointer;
    /* box-shadow: 0 2px 4px #0002; */
}

button.report:active {
    color: #ff6f00;
    background-color: #ff6f0050;
    box-shadow: none;
}

button.ignore {
    /* background-image: url(/static/img/material-icons/delete.svg); */
    /* background-color: #ff9e80; */
    color: #e53935;
}

button.ignore:hover {
    color: #e53935;
    background-color: #e5393520;
    cursor: pointer;
    /* box-shadow: 0 2px 4px #0002; */
}

button.ignore:active {
    color: #b71c1c;
    background-color: #b71c1c30;
    box-shadow: none;
}

.context {
    margin: auto 0;
    padding: 6px 8px;
    padding-bottom: 10px;
    line-height: 1.6;
}

[data-placeholder-header]:empty::before {
    content: attr(data-placeholder-header);
    color: #0006;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    padding: 4px;
}

[data-placeholder-header]:empty:focus::before {
    content: "";
}

[data-placeholder]:empty::after {
    content: attr(data-placeholder);
    color: #0006;
    font-size: 0.9em;
    padding: 0 4px;
    display: block;
}

[data-placeholder]:empty:focus::after {
    content: "";
}

@media (max-width: 768px) {
    #orto {
        margin: 0;
        flex-direction: column;
    }
    #editor {
        height: 30%;
        width: auto;
    }
    #editor #editor-textarea {
        padding: 12px;
    }
    #corrections {
        max-height: 70%;
        border-top: 4px groove #0002;
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        border-radius: 0;
        padding: 8px;
    }
    #corrections .header {
        flex-direction: row;
        font-size: 1.4rem;
    }
    #corrections .header .header-actions {
        margin-left: auto;
    }
    #corrections .submit {
        padding: 6px;
    }
}

.submit {
    display: block;
    border: none;
    background-color: #448aff;
    padding: 6px 12px;
    font-size: 1.2rem;
    border-radius: 4px;
    color: #fff;
    font-weight: 450;
    width: 100%;
    margin-top: auto;
    /* border-bottom: 1px solid #5542; */
    /* box-shadow: none; */
    transition: background-color ease-in 0.1s;
}

.submit:hover {
    background-color: #82b1ff;
    cursor: pointer;
    /* box-shadow: 0 4px 8px #0003; */
}

.submit:active {
    background-color: #2962ff;
    color: #eee;
    /* box-shadow: none; */
}

.submit:disabled {
    background-color: #b5b5b5;
    cursor: unset;
}

.load-spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.load-spinner:after {
    content: " ";
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: -3px;
    border: 3px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: load-spinner 1.2s linear infinite;
}

@keyframes load-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.icon {
    vertical-align: sub;
    width: 1em;
    height: 1em;
    font-size: 1.2em;
}

strong {
    font-weight: 500;
}

/* MODAL */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0008;
    display: none;
    z-index: 999;
}

.modal.active {
    display: flex;
}

.modal .modal-close {
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.modal .modal-content {
    z-index: 1;
    margin: auto;
    padding: 20px;
    max-width: 90%;
    max-height: 80%;
    /* background: #fff; */
    overflow: auto;
    scrollbar-width: thin;
    position: relative;
}

.modal-link {
    cursor: pointer;
    line-height: 0;
}

/* FEEDBACK */

.panel {
    background-color: #fff;
    border-radius: 4px;
}

#feedback-form {
    display: flex;
    min-width: 400px;
    flex-direction: column;
}

#feedback-form label {
    padding-top: 16px;
    padding-bottom: 4px;
}

#feedback-form textarea {
    height: 80px;
}

#feedback-form .submit {
    margin-top: 16px;
}

#feedback-form h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 8px;
}

.modal-x {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
}

#feedback-form .feedback-note {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px dashed #0003;
    padding-bottom: 16px;
}

@media (max-width: 768px) {
    #feedback-form {
        width: auto;
    }
}

.feedback-result {
    text-align: center;
    position: relative;
}

.feedback-result h1 {
    margin-bottom: 8px;
}

.feedback-result h2 {
    margin-top: 0px;
    font-size: 20px;
}

.feedback-result img {
    border-radius: 4px;
}

.nowrap {
    white-space: nowrap;
}
