@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-Thin.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-ThinItalic.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-ExtraLightItalic.woff") format("woff");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-Light.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-Regular.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-Italic.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-Medium.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-Bold.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-ExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-Black.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local("Poppins"), url("/static/font/Poppins/Poppins-BlackItalic.woff") format("woff");
}
