<header class='sticky'>
    <a class="header-title hh" href="/"> Orto </a>
    <nav class="header-nav">

        <a class="nav-item primary button" href="/editor">
            Editor
            <svg class='icon'>
                <use href="/static/icons/teenyicons/outline.svg#outline--edit-1"></use>
            </svg>
        </a>
        <a class="nav-item" href="/user/account">
            My Account
            <svg class='icon'>
                <use href="/static/icons/teenyicons/outline.svg#outline--user-circle"></use>
            </svg>
        </a>
    </nav>
</header>
