{{#> page/base}}
    {{#*inline "head"}}
        <title>Orto - Successfuld oprettelse</title>

        {{link "hot" type="script" src="/static/base/util.js"}}
    {{/inline}}

    {{#*inline "body"}}
        <h1 class='mb-0 align-center'>Opret bruger</h1>

        <div class='row'>
            <div class='col'></div>

            <div class='col-12 col-md-9 col-lg-7'>
                <hr class='separator'>

                <div class='align-center'>
                    <h1>
                        <svg class="icon" style="font-size: 6rem; color: var(--green)">
                            <use href="/static/icons/teenyicons/outline.svg#outline--tick-circle"></use>
                        </svg>
                    </h1>

                    <h1 style="color: var(--green)">Success!</h1>

                    <h3>Oprettelsen af dit abonnement er nu fuldendt</h3>

                    <div>
                        <a class='button primary' href='/editor'>Til editoren!</a>
                    </div>
                    <div class='pt-1 pb-2'>
                        <a class='' href='/user/account'>Før mig til min konto</a>
                    </div>
                </div>
            </div>

            <div class='col'></div>
        </div>
    {{/inline}}
{{/page/base}}
