{{#> page/base}}
    {{#*inline "head"}}
        <title>Orto - Editor</title>

        {{link "cold" type="script" src="/static/lib/mithril/mithril.min.js"}}

        {{link "cold" type="stylesheet" src="/static/component/modal/modal.css"}}
        {{link "cold" type="script" src="/static/component/modal/modal.js"}}

        {{link "cold" type="stylesheet" src="/static/component/overflow-hint/overflow-hint.css"}}
        {{link "cold" type="script" src="/static/component/overflow-hint/overflow-hint.js"}}

        {{link "hot" type="stylesheet" src="/static/component/editor/editor.css"}}
        {{link "hot" type="script" src="/static/component/editor/editor.js"}}

        {{link "hot" type="stylesheet" src="/static/page/editor.css"}}
    {{/inline}}

    {{#*inline "body"}}
        <script>
            m.mount(document.querySelector("main"), Orto);
        </script>
        <noscript>
            <div class='error'>
                <h2>
                    Orto kræver JavaScript for at kunne fungere optimalt
                </h2>
            </div>
        </noscript>
    {{/inline}}
{{/page/base}}
