{{#> base/page}}
    {{#*inline "head"}}
        <title>Editor</title>

        {{asset "cold" type="stylesheet" src="/static/lib/microtip/microtip.min.css"}}

        {{asset "cold" type="script" src="/static/lib/mithril/mithril.min.js"}}

        {{asset "cold" type="stylesheet" src="/static/component/modal/modal.css"}}
        {{asset "cold" type="script" src="/static/component/modal/modal.js"}}

        {{asset "cold" type="stylesheet" src="/static/component/overflow-hint/overflow-hint.css"}}
        {{asset "cold" type="script" src="/static/component/overflow-hint/overflow-hint.js"}}

        {{asset "hot" type="stylesheet" src="/static/component/editor/editor.css"}}
        {{asset "hot" type="script" src="/static/component/editor/editor.js"}}

        {{asset "hot" type="stylesheet" src="/static/page/editor.css"}}
    {{/inline}}

    {{#*inline "body"}}
        <script>
            m.mount(document.querySelector("main"), Orto);
        </script>
        <noscript>
            <div class='error'>
                <h2>
                    Orto only works with JavaScript enabled, due to dynamic editing behaviour
                </h2>
            </div>
        </noscript>
    {{/inline}}
{{/base/page}}
