{{#> page/base}}
    {{#*inline "head"}}
        <title>Orto - Privacy Policy</title>
    {{/inline}}

    {{#*inline "body"}}
        <div class='row mb-3'>
            <div class='col'></div>
            <div class='col-12 col-md-9 col-lg-7'>
                <h1>Privacy Policy</h1>
                <h3>Updated: 6 Feb, 2022</h3>
                <h3><a href="/legal/privacy/dk">Read in Danish</a></h3>

                <hr class='separator'>

                <b>Orto</b> ("Service") is
                <ul>
                    <li>produced by <b>ai-company</b> ("Company", "we", "us", "our")</li>
                    <li>provided at <b>https://orto.ai</b> ("Website").</li>
                </ul>
                This privacy policy will explain how we use the Personal Data collected from you, when you use our Website.

                <hr class="separator">

                <h2 id="topics">Topics</h2>

                <ul>
                    <li>
                        Data
                        <ul>
                            <li><a href="#data-what-we-collect">What data do we collect?</a></li>
                            <li><a href="#data-how-we-collect">How do we collect your data?</a></li>
                            <li><a href="#data-how-we-use">How will we use your data?</a></li>
                            <li><a href="#data-how-we-store">How do we store your data?</a></li>
                            <li><a href="#rights">What are your data protection rights?</a></li>
                        </ul>
                    </li>
                    <li>
                        Cookies
                        <ul>
                            <li><a href="#cookies">What are cookies?</a></li>
                            <li><a href="#cookies-how-we-use">How do we use cookies?</a></li>
                            <li><a href="#cookies-what-types-used">What types of cookies do we use?</a></li>
                            <li><a href="#cookies-how-to-manage">How to manage your cookies</a></li>
                        </ul>
                    </li>
                    <li><a href="#other-websites">Privacy policies of other websites</a></li>
                    <li><a href="#changes">Changes to our privacy policy</a></li>
                    <li><a href="#contact">How to contact us</a></li>
                </ul>

                <hr class="separator">
                <h2>Data</h2>

                <a href="#data-what-we-collect">
                    <h3 id="data">What data do we collect?</h3>
                </a>

                We collect Personal Data when it is voluntarily provided by you as part of registering to our Service:
                <ul>
                    <li>Email address</li>
                    <li>Legal name</li>
                    <li>Company name</li>
                    <li>Full legal address: street, city, postcode, country</li>
                    <li>CVR number</li>
                </ul>

                We automatically collect the minimum required System Information as part of access logs to be able to provide the Service:
                <ul>
                    <li>IP address</li>
                    <li>User Agent: Operating System, Browser version</li>
                    <li>Anonymous aggregate usage statistics</li>
                </ul>

                <a href="#data-how-we-collect">
                    <h3 id="data-how-we-collect">How do we collect your data?</h3>
                </a>

                You directly provide us with most of the data we collect. We collect data and process it when you:

                <ul>
                    <li>Visit and browse the Website</li>
                    <li>Register an account for the Service</li>
                    <li>Subscribe to the Service and renew the subscription</li>
                    <li>Use the Service's support channels</li>
                    <li>Provide feedback or complete a customer survey for the Service</li>
                </ul>

                <a href="#data-how-we-use">
                    <h3 id="data-how-we-use">How will we use your data?</h3>
                </a>

                We collect your data so that we can:

                <ul>
                    <li>Present and secure the Website</li>
                    <li>Manage your account</li>
                    <li>Legally process your subscription</li>
                    <li>Respond to support requests and collect feedback</li>
                </ul>

                We do not share any data with any organisation or person that is not expressly specified in this section of the privacy policy.<br>
                <br>
                We will share some of your data with these organisations to be able to provide the Service:
                <ul>
                    <li>The payment processor <a href="http://stripe.com" target="_blank">Stripe (stripe.com)</a></li>
                </ul>

                We share the following data with the payment processor Stripe to be able to process subscriptions:
                <ul>
                    <li>Email</li>
                </ul>

                You will need to provide additional information to Stripe when subscribing to our Service which will be handled according to their own <a href="https://stripe.com/privacy" target="_blank">privacy policy (stripe.com/privacy)</a>.

                <a href="#data-how-we-store">
                    <h3 id="data-how-we-store">How do we store your data?</h3>
                </a>

                We make reasonable efforts to provide a level of security appropriate to the risk associated with the processing of Personal Data. We maintain organizational, technical and administrative measures designed to protect Personal Data covered by this privacy policy against unauthorized access, alteration or misuse. Unfortunately, no data transmission or storage system can be guaranteed to be 100% secure.<br>
                <br>
                If you have reason to believe that your interaction with us is no longer secure (e.g., you feel that the security of your account has been compromised), please contact us immediately.<br>
                <br>
                Our Company will keep your Personal Data for the period you are subscribed to the Service. When an account is terminated, the Personal Data is immediately removed from our systems, and data removal requests are sent to any 3rd parties our Company utilises to provide our Service.

                <a href="#rights">
                    <h3 id="rights">What are your data protection rights?</h3>
                </a>

                We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
                <ul>
                    <li><b>Access</b> - You have the right to request from us copies of your Personal Data.</li>
                    <li><b>Rectification</b> - You have the right to request that we correct any associated Personal Data you believe is inaccurate. You also have the right to request we to complete the associated Personal Data you believe is incomplete.</li>
                    <li><b>Erasure</b> - You have the right to request that we erase your Personal Data, under certain conditions.</li>
                    <li><b>Restrict processing</b> - You have the right to request that we restrict the processing of your Personal Data, under certain conditions.</li>
                    <li><b>Object to processing</b> - You have the right to object to our processing of your Personal Data, under certain conditions.</li>
                    <li><b>Data portability</b> - You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
                </ul>
                If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email.

                <hr class="separator">
                <h2>Cookies</h2>

                <a href="#cookies">
                    <h3 id="cookies">What are cookies?</h3>
                </a>

                Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.<br>
                <br>
                For further information, visit <a href="https://allaboutcookies.org" target="_blank">allaboutcookies.org</a>.

                <a href="#cookies-how-we-use">
                    <h3 id="cookies-how-we-use">How do we use cookies?</h3>
                </a>

                Our Company uses cookies to provide the Service and account management when you are signed in to a registered account. Cookies are also used as part of the registration process to securely verify a registration.

                <a href="#cookies-what-types-used">
                    <h3 id="cookies-what-types-used">What types of cookies do we use?</h3>
                </a>

                There are a number of different types of cookies, however, our Website uses:

                <ul>
                    <li>
                        <b>Strictly neccessary cookies</b> - our Company uses these cookies so that we can provide access to your account and other secured areas of the Service, and to provide secure registration. These cookies are not set if you don't register or sign-in.
                        <ul>
                            <li><b>session</b> - keeps your account session active when you sign in, active for 7 days</li>
                            <li><b>signup_session_key</b> - single-use key involved in the confirmation step of the registration process, to prevent some email services from triggering the confirmation due to parsing URLs in emails.</li>
                        </ul>
                    </li>
                </ul>

                <a href="#cookies-how-to-manage">
                    <h3 id="cookies-how-to-manage">How to manage cookies</h3>
                </a>

                You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, doing so will prevent you from using the Service.

                <hr class="separator">

                <a href="#other-websites">
                    <h2 id="other-websites">Privacy policies of other websites</h2>
                </a>

                The Website contains links to other websites. Our privacy policy applies only to our Website, so if you click on a link to another website, you should read their privacy policy.

                <a href="#changes">
                    <h2 id="changes">Changes to our privacy policy</h2>
                </a>

                Our Company keeps its privacy policy under regular review and places any updates on this web page. The date of update is present at the top of the page.

                <a href="#contact">
                    <h2 id="contact">How to contact us</h2>
                </a>

                If you have any questions about our Company's privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.<br>
                <br>
                Email us at: <a href="mailto:support@orto.ai">support@orto.ai</a>
            </div>
            <div class='col'></div>
        </div>
    {{/inline}}
{{/page/base}}
