{{#> page/base}}
    {{#*inline "head"}}
        <title>Orto - Privatlivspolitik</title>
    {{/inline}}

    {{#*inline "body"}}
        <div class='row mb-3'>
            <div class='col'></div>
            <div class='col-12 col-md-9 col-lg-7'>
                <h1>Privatlivspolitik</h1>
                <h3>Sidst opdateret: 6 Feb, 2022</h3>
                <h3><a href="/legal/privacy/en">Read in english</a></h3>

                <hr class='separator'>

                <b>Orto</b> ("Service") is
                <ul>
                    <li>produced by <b>ai-company</b> ("Company", "we", "us", "our")</li>
                    <li>provided at <b>https://orto.ai</b> ("Website").</li>
                </ul>
                This privacy policy will explain how we use the Personal Data collected from you, when you use our Website.
                Denne privatlivspolitik er en forklaring af, hvorledes vi bruger dine Personlige Data, når du benytter Hjemmesiden.

                <hr class="separator">

                <h2 id="topics">Emner</h2>

                <ul>
                    <li>
                        Data
                        <ul>
                            <li><a href="#data-what-we-collect">Hvilke data bliver indsamlet?</a></li>
                            <li><a href="#data-how-we-collect">Hvordan indsamler vi dine data?</a></li>
                            <li><a href="#data-how-we-use">Hvordan vil vi benytte dine data?</a></li>
                            <li><a href="#data-how-we-store">Hvordan gemmer vi dine data?</a></li>
                            <li><a href="#rights">Hvad er dine databeskyttelsesrettigheder?</a></li>
                        </ul>
                    </li>
                    <li>
                        Cookies
                        <ul>
                            <li><a href="#cookies">Hvad er cookies?</a></li>
                            <li><a href="#cookies-how-we-use">Hvordan benytter vi cookies?</a></li>
                            <li><a href="#cookies-what-types-used">Hvilke cookie-typer gør vi brug af?</a></li>
                            <li><a href="#cookies-how-to-manage">Sådan administrerer du dine cookies</a></li>
                        </ul>
                    </li>
                    <li><a href="#other-websites">Privatlivspolitk fra andre hjemmesider</a></li>
                    <li><a href="#changes">Ændringer i vores privatlivspolitik</a></li>
                    <li><a href="#contact">Sådan kontakter du os</a></li>
                </ul>

                <hr class="separator">
                <h2>Data</h2>

                <a href="#data-what-we-collect">
                    <h3 id="data">Hvilke data bliver indsamlet?</h3>
                </a>

                Vi indsamler Personlige Data når det er frivilligt overdraget til os af dig, som en del af registringen til vores Service:
                <ul>
                    <li>Email-adresse</li>
                    <li>Fulde navn</li>
                    <li>Virksomhedsnavn</li>
                    <li>Fulde adresse: gadenavn, by, postnummer, land</li>
                    <li>CVR-nummer</li>
                </ul>

                We automatically collect the minimum required System Information as part of access logs to be able to provide the Service:
                Vi indsamler automatisk System-information som en del af minimumskravet for adgangslogfiler, der er nødvendige for at udbyde vores Service:
                <ul>
                    <li>IP-adresse</li>
                    <li>Bruger-Agent: Operativsystem, Browser-version</li>
                    <li>Anonyme brugsstatistikker</li>
                </ul>

                <a href="#data-how-we-collect">
                    <h3 id="data-how-we-collect">Hvordan indsamler vi dine data?</h3>
                </a>

                Du indtaster selv hovedparten af de data vi indsamler. Vi indsamler data og behandler disse, når du:

                <ul>
                    <li>Tilgår og benytter Hjemmesiden</li>
                    <li>Registrerer en konto hos vores Service</li>
                    <li>Abonnerer til- eller fornyer dit abonnement til vores Service</li>
                    <li>Benytter support-kanaler hos vores Service</li>
                    <li>Når du giver feedback eller svarer på spørgeskemaer vedr. vores Service</li>
                </ul>

                <a href="#data-how-we-use">
                    <h3 id="data-how-we-use">Hvordan vil vi benytte dine data?</h3>
                </a>

                Vi indsamler dine data, så vi kan:

                <ul>
                    <li>Præsentere og sikre vores Hjemmeside</li>
                    <li>Håndtere din bruger</li>
                    <li>Udbyde abonnementer på lovlig vis</li>
                    <li>Svare på support-spørgsmål og modtage feedback</li>
                </ul>

                Vi deler under ingen omstændigheder dine data med andre organisationer eller personer, der ikke er explicit specificeret i denne sektion af privatlivspolitikken.<br>
                <br>
                Vi vil dele visse dele af dine data med følgende organisationer, således at vi kan udbyde vores Service:
                <ul>
                    <li>Betalingssystemet <a href="http://stripe.com" target="_blank">Stripe (stripe.com)</a></li>
                </ul>

                Vi deler følgende data med betalingssystemet Stripe, for at kunne håndtere abonnementer:
                <ul>
                    <li>Email</li>
                </ul>

                Du vil blive bedt om at overdrage yderligere information til Stripe, når du opretter et abonnement til vores Service. Disse informationer vil blive håndteret i henhold til deres egen <a href="https://stripe.com/privacy" target="_blank">privatlivspolitik (stripe.com/privacy)</a>.

                <a href="#data-how-we-store">
                    <h3 id="data-how-we-store">Hvordan gemmer vi dine data?</h3>
                </a>

                Vi gør en rimelig indsats for at levere et sikkerhedsniveau, passende til den risiko, der er forbundet med håndteringen af Personlige Data. Vi vedligeholder organisatoriske, tekniske og administrative tiltag, der er designet til at beskytte Personlige Data, dækket af denne privatlivspolitik, imod uautoriseret adgang, ændring eller misbrug. Dog er det ikke muligt at garantere at nogen form for datatransmission eller opbevaringssystem er 100% sikker.<br>
                <br>
                If you have reason to believe that your interaction with us is no longer secure (e.g., you feel that the security of your account has been compromised), please contact us immediately.<br>
                <br>
                Vores Virksomhed vil beholde dine Personlige Data så længe du abonnerer til vores Service. Når en konto slettes, bliver alle Personlige Data øjeblikkeligt slettet fra vores systemer, og forespørgsler om sletning af data sendes til alle tredjepart vores Virksomhed benytter for at udbyde vores Service.

                <a href="#rights">
                    <h3 id="rights">Hvad er dine databeskyttelsesrettigheder?</h3>
                </a>

                Vi vil gerne sikre os, at du har fuldt kendskab til alle dine databeskyttelsesrettigheder. Alle bruger har ret til følgende:
                <ul>
                    <li><b>Tilgang</b> - Du har ret til at bede om en kopi af dine Personlige Data.</li>
                    <li><b>Berigtigelse</b> - Du har ret til at bede om berigtigelse af dine Personlige Data, du mener er ukorrekte. Du har også ret til at bede om berigtigelse af tilknyttede Personlige Data, du mener er ufuldstændige.</li>
                    <li><b>Sletning</b> - Du har, i visse tilfælde, ret til at bede om, at dine Personlige Data slettes.</li>
                    <li><b>Begrænsning</b> - Du har, under visse omstændigheder, ret til at bede om, at behandlingen af dine Personlige Data begrænses.</li>
                    <li><b>Gøre indsigelse mod behandling</b> - Du har, under visse omstændigheder, ret til at gøre indsigelse mod behandlingen af dine Personlige Data.</li>
                    <li><b>Dataportabilitet</b> - Du har, under visse omstændigheder, ret til at bede os om at overføre data, vi har indsamlet om dig, til en anden organisation, eller direkte til dig.</li>
                </ul>
                Hvis du beder os om noget af ovenstående, har vi en måned til at svare. Hvis du vil benytte nogen af disse rettigheder, er du velkommen til at kontakte os via email.

                <hr class="separator">
                <h2>Cookies</h2>

                <a href="#cookies">
                    <h3 id="cookies">Hvad er cookies?</h3>
                </a>

                Cookies er tekstfiler, der gemmes på din computer, for at indsamle standard Internet logoplysninger og besøgendes basale adfærdsoplysninger. Når du besøger vores Hjemmeside, kan vi indsamle information om dig automatisk gennem cookies eller lignende teknologier.<br>
                <br>
                For mere information, kan du besøge <a href="https://allaboutcookies.org" target="_blank">allaboutcookies.org</a>.

                <a href="#cookies-how-we-use">
                    <h3 id="cookies-how-we-use">Hvordan benytter vi cookies?</h3>
                </a>

                Vores Virksomhed benytter cookies for at udbyde vores Service og til brugerhåndtering, når du er logget ind på en registreret bruger. Cookies benyttes yderligere som en del af registreringsprocessen, for at kunne verificere en brugeroprettelse.

                <a href="#cookies-what-types-used">
                    <h3 id="cookies-what-types-used">Hvilke cookie-typer gør vi brug af?</h3>
                </a>

                Vores Hjemmeside gør brug af følgende cookie-typer:

                <ul>
                    <li>
                        <b>Strengt nødvendige cookies</b> - Vores Virksomhed gør brug af disse cookies, således at vi kan give dig adgang til din konto og andre sikrede dele af vores Service, samt sørge for en sikker oprettelsesproces. Disse cookies er ikke gemt, memindre du opretter en bruger eller logger ind.
                        <ul>
                            <li><b>session</b> - holder din bruger-session aktiv når du logger ind. Aktiv i 7 dage</li>
                            <li><b>signup_session_key</b> - engangs-nøgle, der benyttes i bekræftelsestrinnet af oprettelsessprocessen, for at forhindre visse email-tjenester i at aktivere bekræftelsen automatisk, når disse parser URL'er i emails.</li>
                        </ul>
                    </li>
                </ul>

                <a href="#cookies-how-to-manage">
                    <h3 id="cookies-how-to-manage">Sådan administrerer du dine cookies</h3>
                </a>

                Du kan indstille din browser til ikke at acceptere cookies, og på den ovenstående hjemmeside kan du læse, hvordan du fjerner cookies fra din browser. Dette vil dog forhindre dig i at bruge vores Service.

                <hr class="separator">

                <a href="#other-websites">
                    <h2 id="other-websites">Privatlivspolitk fra andre hjemmesider</h2>
                </a>

                Denne Hjemmeside indeholder links til andre hjemmesider. Vores privatlivspolitik gælder kun for vores Hjemmeside - så hvis du klikker på et link til en anden hjemmeside, bør du læse deres privatlivspolitik.

                <a href="#changes">
                    <h2 id="changes">Ændringer i vores privatlivspolitik</h2>
                </a>

                Vores Virksomhed gennemgår sin privatlivspolitik regelmæssigt og vil vise alle ændringer på denne side. Ændringsdatoen vil stå øverst på siden.

                <a href="#contact">
                    <h2 id="contact">Sådan kontakter du os</h2>
                </a>

                Hvis du har spørgsmil til vores Virksomheds privatlivspolitik, de data vi har fra dig, eller hvis du vil benytte dine databeskyttelsesrettigheder, er du velkommen til at kontakte os.
                <br>
                Send en email: <a href="mailto:support@orto.ai">support@orto.ai</a>
            </div>
            <div class='col'></div>
        </div>
    {{/inline}}
{{/page/base}}
